In [1]:
import pandas as pd
import numpy as np

In [2]:
# Data from: 
# https://www.kaggle.com/rodolfofigueroa/spotify-12m-songs
# https://github.com/rfordatascience/tidytuesday/blob/master/data/2020/2020-01-21/readme.md

In [3]:
df1 = pd.read_csv(r'C:\Users\KOSTAS\Desktop\E_D_A-projects-python\Spotify_Analysis\data\tracks_features.csv')

In [4]:
df2 = pd.read_csv(r'C:\Users\KOSTAS\Desktop\E_D_A-projects-python\Spotify_Analysis\data\spotify_songs.csv')

In [5]:
print("Shape of df1:",df1.shape)
print("Shape of df2:",df2.shape)

Shape of df1: (1204025, 24)
Shape of df2: (32833, 23)

In [6]:
df1.columns

Index(['id', 'name', 'album', 'album_id', 'artists', 'artist_ids',
       'track_number', 'disc_number', 'explicit', 'danceability', 'energy',
       'key', 'loudness', 'mode', 'speechiness', 'acousticness',
       'instrumentalness', 'liveness', 'valence', 'tempo', 'duration_ms',
       'time_signature', 'year', 'release_date'],
      dtype='object')

In [7]:
df2.columns

Index(['track_id', 'track_name', 'track_artist', 'track_popularity',
       'track_album_id', 'track_album_name', 'track_album_release_date',
       'playlist_name', 'playlist_id', 'playlist_genre', 'playlist_subgenre',
       'danceability', 'energy', 'key', 'loudness', 'mode', 'speechiness',
       'acousticness', 'instrumentalness', 'liveness', 'valence', 'tempo',
       'duration_ms'],
      dtype='object')

### Merge the dataframes

#### First check, if the column 'id' is unique in the two dataframes

In [8]:
print(df1['id'].is_unique)
print(df2['track_id'].is_unique) # We do not want same songs (same id) to have different values on other columns, so drop them

True
False

In [9]:
new_df2 = df2.drop_duplicates(subset=['track_id'], keep='first')
print(new_df2.shape)

(28356, 23)

#### Merge, using as key the 'id' of the track

In [10]:
new_df2.rename(columns={'track_id': 'id', 'track_name': 'name'}, inplace=True) #rename

C:\Users\KOSTAS\AppData\Local\Temp/ipykernel_10692/3883072736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df2.rename(columns={'track_id': 'id', 'track_name': 'name'}, inplace=True) #rename

In [11]:
df = pd.merge(df1, new_df2[['id','playlist_genre','track_popularity']], on = 'id', how = 'left') # merge

In [12]:
pd.set_option("display.max_columns", None) # Show all columns

In [13]:
df.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date,playlist_genre,track_popularity
0,7lmeHLHBe4nmXzuXc0HDjk,Testify,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],1,1,False,0.470,0.978,7,-5.399,1,0.0727,0.02610,0.000011,0.3560,0.503,117.906,210133,4.0,1999,1999-11-02,NaN,NaN
1,1wsRitfRRtWyEapl0q22o8,Guerrilla Radio,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],2,1,True,0.599,0.957,11,-5.764,1,0.1880,0.01290,0.000071,0.1550,0.489,103.680,206200,4.0,1999,1999-11-02,rock,69.0
2,1hR0fIFK2qRG3f3RF70pb7,Calm Like a Bomb,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],3,1,False,0.315,0.970,7,-5.424,1,0.4830,0.02340,0.000002,0.1220,0.370,149.749,298893,4.0,1999,1999-11-02,NaN,NaN
3,2lbASgTSoDO7MTuLAXlTW0,Mic Check,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],4,1,True,0.440,0.967,11,-5.830,0,0.2370,0.16300,0.000004,0.1210,0.574,96.752,213640,4.0,1999,1999-11-02,NaN,NaN
4,1MQTmpYOZ6fcMQc56Hdo7T,Sleep Now In the Fire,The Battle Of Los Angeles,2eia0myWFgoHuttJytCxgX,['Rage Against The Machine'],['2d0hyoQ5ynDBnkvAbJKORj'],5,1,False,0.426,0.929,2,-6.729,1,0.0701,0.00162,0.105000,0.0789,0.539,127.059,205600,4.0,1999,1999-11-02,rap,66.0

In [14]:
df.isnull().sum() # because of merge, playlist_genre and track_popularity have many 'NaNs'.

id                        0
name                      0
album                     0
album_id                  0
artists                   0
artist_ids                0
track_number              0
disc_number               0
explicit                  0
danceability              0
energy                    0
key                       0
loudness                  0
mode                      0
speechiness               0
acousticness              0
instrumentalness          0
liveness                  0
valence                   0
tempo                     0
duration_ms               0
time_signature            0
year                      0
release_date              0
playlist_genre      1201206
track_popularity    1201206
dtype: int64

### Cleaning to get month

In [15]:
get_month = df['release_date'].apply(lambda x: x.split("-")[1] if x.count('-')==2 else None)
df.insert(df.columns.get_loc('year') + 1,'month',get_month)

# Why do we need the if statement above? Because after exploring the dataset, we see there are elements like the folowing:

In [16]:
df.iloc[170]['release_date'] # That is, not in the form YYYY-MM-DD

'2001'

In [17]:
df.isnull().sum() #because of the problem above, we have some 'NaNs' at 'month' column

id                        0
name                      0
album                     0
album_id                  0
artists                   0
artist_ids                0
track_number              0
disc_number               0
explicit                  0
danceability              0
energy                    0
key                       0
loudness                  0
mode                      0
speechiness               0
acousticness              0
instrumentalness          0
liveness                  0
valence                   0
tempo                     0
duration_ms               0
time_signature            0
year                      0
month                131186
release_date              0
playlist_genre      1201206
track_popularity    1201206
dtype: int64

### Cleaning to get artist names, useful for the feat analysis

In [18]:
# The problem:
print(df['artists'][0])
print(len(df['artists'][0]))

# I need to convert the names to lists, each element of the list representing the name of an artist
# Hence, if I want to find songs that were feat, we can just search for len(df[artists]) > 1

['Rage Against The Machine']
28

In [19]:
def get_artist(artists):
    """
    In order to transform artist names to lists
    """
    res = []
    artists = artists.replace("[","")
    artists = artists.replace("]","")
    if "," not in artists:
        res.append(artists)
        return res
    elif "," in artists:
        artists = artists.split(", ") 
        return artists

In [20]:
df['artists'] = list(map(get_artist,df['artists']))

In [21]:
# Problem (almost) solved
print(df['artists'][0])
print(len(df['artists'][0]))

["'Rage Against The Machine'"]
1

In [22]:
# Now let's remove the quotes from the names
def remove_quotes(artists):
    new = []
    for artist in artists:
        artist = artist.replace("'","")
        new.append(artist)
    return new

In [23]:
df['artists'] = list(map(remove_quotes,df['artists']))

In [49]:
# Without quotes
df['artists'][0]

['Rage Against The Machine']

### Feat Column

In [50]:
def get_feat(art):
    if len(art) > 1:
        return "Yes"
    elif len(art) == 1:
        return "No"

In [51]:
df['feat'] = list(map(get_feat,df['artists']))

In [52]:
releases_per_year = df.groupby('year').count()['id'] # id exists for every row
releases_per_year # We see that in the past, we had significantly less songs than recent years

year
0          10
1900       14
1908       19
1909       25
1917       52
        ...
2016    47427
2017    51308
2018    56167
2019    67276
2020    69726
Name: id, Length: 101, dtype: int64

In [53]:
# Let's grab from the dataframe years from 1991 and above, and hence we will have them organized in decades, i.e. :
# 1991-2000, 2001-2010, 2011-2020
recent_df = df[df['year'] >= 1991]

In [54]:
# Check the releases 
releases = recent_df.groupby('year').count()['id']
releases

year
1991     8380
1992     9639
1993    11017
1994    14130
1995    17417
1996    17840
1997    20229
1998    21013
1999    25931
2000    30575
2001    29378
2002    30861
2003    34996
2004    38696
2005    49977
2006    56945
2007    56287
2008    50475
2009    45563
2010    44550
2011    45642
2012    45108
2013    49048
2014    45005
2015    46558
2016    47427
2017    51308
2018    56167
2019    67276
2020    69726
Name: id, dtype: int64

In [55]:
# How many songs did we excluded from the original dataframe? What is the ratio?
excluded_songs = df.shape[0] - recent_df.shape[0]
print("Number of songs excluded:",excluded_songs)
ratio = excluded_songs/df.shape[0] * 100
print("Ratio of songs excluded from the original dataframe:",np.round(ratio, 2),"%")

Number of songs excluded: 66861
Ratio of songs excluded from the original dataframe: 5.55 %

In [56]:
recent_df.shape

(1137164, 28)

In [57]:
### Export 'recent_df' as csv file, in order to do the analysis
recent_df.to_csv('merged_Spotify.csv', index = False)